.inline {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;

}

.panel-default {
    max-width: 50%;
}

.panel-footer {
    display: flex;
    justify-content: space-evenly;
}

.centered {
    display: inline-flex;
    align-content: center;
    justify-content: space-evenly;
}